<p>cart works!</p>
<form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" [formControl]="nameControl">
    </div>
    <div>
        <label for="email">Description:</label>
        <input type="email" id="email" [formControl]="descriptionControl">
    </div>
    <div>
        <label for="password">Price:</label>
        <input type="text" id="password" [formControl]="priceControl">
    </div>
    <button type="submit">Add product</button>
</form>
