<div>
    <h1>Prueba INPUT (paso valor hacia abajo)</h1>
    <h4>display esta en hijo</h4>
    <app-hijo [value]="counter()" />
    <h4>botones estan en padre</h4>
    <button (click)="increment()">+</button>
    <button (click)="decrement()">-</button>
    <button (click)="reset()">reset</button>
</div>
<div>
    <h1>Prueba OUTPUT (paso valor hacia arriba)</h1>
    <h4>display estan en padre</h4>
    <p id="messageReciveEvent"></p>
    <h4>botones  e input estan en hijo</h4>
    <app-hijo2 (messageEvent)="messageRecive($event)"/>
</div>